:host {
    
    h1 {
        text-align: center;
        font-size: 25px;
    }
    .content {
        padding-top: 10px;
    }

    .mat-form-field {
        width: 100%;
    }

    .row {
        display: inline;
    }

    .action {
        padding: 0px 25px 20px;
        button {
            flex: 1; 
        }
    }
    form {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        mat-form-field {
            width: 100%;
        }
    }

  }